In [2]:
import numpy as np
import pandas as pd

In [3]:
tkns = ["i","want","to","eat","chinese","food","lunch","spend"]

tble = [[""]+tkns,
       ["i","0.002", "0.33", "0", "0.0036", "0", "0", "0", "0.00079"],
       ["want", "0.0022", "0", "0.66", "0.0011", "0.0065", "0.0065", "0.0054", "0.0011"],
       ["to", "0.00083", "0", "0.0017", "0.28", "0.00083", "0", "0.0025", "0.087"],
       ["eat", "0", "0", "0.0027", "0", "0.021", "0.0027", "0.056", "0"],
       ["chinese", "0.0063", "0", "0", "0", "0", "0.52", "0.0063", "0"],
       ["food", "0.014", "0", "0.014", "0", "0.00092", "0.0037", "0", "0"],
       ["lunch", "0.0059", "0", "0", "0", "0", "0.0029", "0", "0"],
       ["spend", "0.0036", "0", "0.0036", "0", "0", "0", "0", "0"]]

In [10]:
import pandas as pd

df = pd.DataFrame(tble)
df = df[1:]
df.columns = [""] + tkns
df = df.set_index("")
print(df)

               i  want      to     eat  chinese    food   lunch    spend

i          0.002  0.33       0  0.0036        0       0       0  0.00079
want      0.0022     0    0.66  0.0011   0.0065  0.0065  0.0054   0.0011
to       0.00083     0  0.0017    0.28  0.00083       0  0.0025    0.087
eat            0     0  0.0027       0    0.021  0.0027   0.056        0
chinese   0.0063     0       0       0        0    0.52  0.0063        0
food       0.014     0   0.014       0  0.00092  0.0037       0        0
lunch     0.0059     0       0       0        0  0.0029       0        0
spend     0.0036     0  0.0036       0        0       0       0        0

In [13]:
output=[['i','token','token','token','token','token','token','token','probability'],
       ['i','want',"","","","","","",'0.3300'],
       ['i','want','to',"","","","","",'0.2178'],
       ['i','want','to','eat',"","","","",'0.0610'],
       ['i','want','to','eat','chinese',"","","",'0.0013'],
       ['i','want','to','eat','chinese','food',"","",'0.0007'],
       ['i','want','to','eat','chinese','food','i',"",'0.0000'],
       ['i','want','to','eat','chinese','food','i','want','0.0000']]

print(tabulate(output,headers="firstrow"))

i    token    token    token    token    token    token    token      probability
---  -------  -------  -------  -------  -------  -------  -------  -------------
i    want                                                                  0.33
i    want     to                                                           0.2178
i    want     to       eat                                                 0.061
i    want     to       eat      chinese                                    0.0013
i    want     to       eat      chinese  food                              0.0007
i    want     to       eat      chinese  food     i                        0
i    want     to       eat      chinese  food     i        want            0